*{
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* header */
#header{
  box-shadow: 0 0 20px black ;
}
/*navbar css*/
.navbar-nav a:hover{
  color: #76ABAE;
}

/*navbar css end*/


/*home css*/

.bg-div {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24%;
}

#myVideo{
  width: 100%;
}

.bg-div div{
  color: white;
  text-shadow: #222831 5px;
  background-color:rgba(0, 0, 0, 0.3) ;
  padding: 20px;
  border-radius: 20px;
}
/*home css end*/

/*about css*/

.timeline {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #76ABAE;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

    .timeline-event {
      padding: 20px 30px;
      position: relative;
      width: 50%;
    }

    .left {
      left: 0;
      }

    .right {
      left: 50%;
    }

    .content {
      padding: 10px;
      position: relative;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      border: #76ABAE solid 2px;
      transition: transform 0.15s;
    }

    .content img {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }

    /* Responsive */
    @media screen and (max-width: 768px) {
      .timeline::after {
        left: 31px;
      }

      .timeline-event {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
      }

      .timeline-event::after {
        left: 18px;
      }

      .left, .right {
        left: 0%;
      }

      .left::before, .right::before {
        left: 60px;
        border: medium solid transparent;
        border-width: 10px;
        border-left-color: white;
      }
    }

    .content:hover{
      transform: scale(1.05);
    }

/*about css end*/

/*product css*/

.product{
  background-color: #222831;
  color: #EEEEEE;
  margin: 10px;
  padding: 10px;
  border: #222831 solid 1px;
  border-radius: 10px;
}

.info-text{
  color: #EEEEEE;
}

#btn-carousel{
  color: #EEEEEE;
}

/*product css end*/

/*contact css*/
.contact{
  margin-bottom: 30px;
  padding: 10px;
}

.contact h3{
  margin-bottom: 5px;
}

.contact div form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input{
  padding: 5px;
  border: solid #31363F 2px;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.15s;
}

.contact div form button{
  padding: 5px;
  border: #31363F solid 2px;
  border-radius: 4px;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s;
}

textarea{
  padding: 5px;
  border: solid #31363F 2px;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.15s;
}

input:focus{
  border-color: #31363F;
}

.contact div form button:hover{
  color: #EEEEEE;
  background-color: #31363F;
  border-color: #31363F;
}


textarea:focus{
  border-color: #31363F;
}

.fixed-button {
  padding: 6px;
  background-color: #EEEEEE;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

/* .fixed-button:hover {
  
} */

/*footer css*/

footer{
  height: max-content;
  display: flex;
  justify-content: space-between;
  background-color: #222831;
  color: #EEEEEE;
  padding: 10px;
}

.social-media{
  margin-left: 10px;
  margin-top: 3px;
}

footer div{
  display: flex;
  gap: 10px;
}


/*footer css end*/

/*extra*/

.active{
  color: #76ABAE;
}

/*extra end*/

.info-div{
  display: flex;
  margin-bottom: 10px;
  margin-top: 30px;
}

.img-info{
  width: 40%;
  margin-left: 5px;
  margin-right: 5px;
}